{
  "id": 233,
  "scheduled_to": "2015-10-24",
  "participation_id": 30,
  "participation": false,
  "participations": [
    {
      "id": 28,
      "status": true,
      "user_id": 3,
      "user_name": "Hans"
    },
    {
      "id": 30,
      "status": false,
      "user_id": 2,
      "user_name": "Fritz"
    }
  ],
  "event": {
    "id": 36,
    "category": "Spieltag",
    "remark": "",
    "place": "Thedenstr.",
    "latitude": 38.9426583,
    "longitude": -94.83177839999999,
    "base_time": "2000-01-01T15:06:00Z",
    "group": {
      "id": 1,
      "name": "First Team"
    }
  }
}
